.desktop {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background: url("../../assets/wallpapers/wallpaper-1.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--color-bg);
}

.desktop__stage {
  position: absolute;
  inset: 0;
}
